<html lang="en">
<head>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
</head>
<body>

<div class="pa5">
    <h1> Reservations Service </h1>
    <p>Use this form to get reservations for a given train service</p>

    <form method="GET" action="/reservations">
        <label for="train">Train Service</label>
        <input type="text" name="train" id="train">
        <br>
        <label for="driver">Driver</label>
        <input type="text" name="driver" id="driver">
        <br>
        <input type="submit" value="Fetch">
    </form>
</div>


</body>

</html>